[submodule "Model/DataAccessor/JsonAccessor"]
	path = Model/DataAccessor/JsonAccessor
	url = git@github.com:YiFanChen99/JsonAccessor.git
[submodule "Model/DataAccessor/ConfigureIntegrator"]
	path = Model/DataAccessor/ConfigureIntegrator
	url = git@github.com:YiFanChen99/ConfigureIntegrator.git
[submodule "Model/DataAccessor/DbAccessor"]
	path = Model/DataAccessor/DbAccessor
	url = git@github.com:YiFanChen99/DbAccessor.git
[submodule "PyQt/PyQtComponent"]
	path = PyQt/PyQtComponent
	url = git@github.com:YiFanChen99/PyQtComponent.git
